<h1> Expenses </h1>
<a href="#expenses/new"><button class="btn btn-primary btn-xs">Add a New Expense </button> </a>
<a href="#expenses/index_weekly"><button id="print_week" class="btn btn-primary btn-xs">Weekly Expenses Data </button> </a>
<br>
<br>
<br>

<form id="filter_date" class="form-inline" role="form">
	<strong>Filter Expenses:</strong> 
  <div class="form-group">
		<label for="date_time" class="control-label">Start</label>
	  <input type="datetime-local" id="start_date_time" class="form-control" name="start_date">
		<label for="end_date_time" class="control-label">End</label>
	  <input type="datetime-local" id="end_date_time" class="form-control " name="end_date">
		<label for="min_amt" class="control-label">Min Amount($)</label>
	  <input type="number" step="any" id="min_amt" class="form-control " name="min_amt">
		<label for="max_amt" class=" control-label">Max Amount($)</label>
	  <input type="number" step="any" id="max_amt" class="form-control " name="max_amt">
	  <button type="submit" class="btn btn-primary btn-xs">Filter</button> 
  </div>
</form>
<br>
<table class="table table-striped table-hover ">
	<thead>
		<tr>
		  <th> Date </th>
		  <th> Description </th>
		  <th> Amount($) </th>
		  <th> Comment </th>
		</tr>
	</thead>
	<tbody>
		<% expenses.forEach(function(expense){ %>
			<tr>
				<% if (!editExpenses[expense.id]){ %>
					<td>  
					<% if (expense.escape("date_time")) { %>  
					    <%= expense.escape("date_time").substring(0,10) + " " + expense.escape("date_time").substring(11,16)%>
					<% }%>
					</td>
				    <td><%= expense.escape("description") %></td>
				    <td><%= expense.escape("amount") %></td>
				    <td><%= expense.escape("comment") %></td>
				    <td><button type="submit" class="btn btn-primary btn-xs" id="edit" data-id=<%= expense.id %>>Edit Expense </button> </td>
				    <td> <button type="submit" class="btn btn-primary btn-xs" id="delete" data-id=<%= expense.id %>>Delete Expense </button> </td>
				<% } else { %>
					<td>  
					<% if (expense.escape("date_time")) { %>  
					    <%= expense.escape("date_time").substring(0,10) + " " + expense.escape("date_time").substring(11,16)%>
					<% }%>
					</td>
					<td colspan="4">
					<form id="update" colspan="4" data-id=<%= expense.id %>>
					    <label> Description: <input type="text" class="form-control" id="descr"  name="expense[description]" value="<%= expense.escape("description") %>"></label>
					    <label> Amount: <input type="number" id="amount" step="any" class="form-control" name="expense[amount]" value=<%= expense.escape("amount") %>></input></label>
					    <label> Comment: <input type="text" id="comment" class="form-control" name="expense[comment]" 
					    value="<%= expense.escape("comment") %>"></label>
				    	<button type="submit" class="btn btn-primary btn-xs">Update Expense </button> </td>
				    </form>
			    	<td> <button type="submit" class="btn btn-primary btn-xs" id="delete" data-id=<%= expense.id %>>Delete Expense </button> </td>			
				<% } %>
		  	</tr>
		<% }) %>
		<div id="navpage"></div>
	</tbody>
</table>




